<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
        <link href="css/mdbx.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

<% include navbar %>

    <div class="container main-page">
      <fieldset>
    
 </fieldset>
 <% if(tweets !== null){ %>
 <h1 class="keyword">Displaying <%= count %> tweets with keyword "<%= keyword %>"</h1>
            <div class="row">

 <% for (var i = 0; i <= tweets.length; i++) { %>

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!--Card-->
                    <div class="card testimonial-card">

                        <!--Bacground color-->
                        <div class="card-up color-block aqua-gradient z-depth-2">
                        </div>

                        <!--Avatar-->
                        <div class="avatar mx-auto white">
                            <img src="<%= twitterUserURL[i] %>" class="rounded-circle">
                        </div>

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title"><%= twitterUser[i] %></h4>
                            <hr>
                            <!--Quotation-->
                            <p>
                                <i class="fa fa-quote-left"></i> <%= tweets[i] %></p>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                

               <% } %>
            </div>

        
        <% } %>

     
    </div>



<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>




  </body>
</html>
